# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives
* Popular languages for Data Scientists
* Commonly used libraries used by Data Scientists
* Examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot2
5. dplyr
6. tidyr

|Data Science Tools|
---------------------
|Juypter Notebook|
|Juypter Labs|
|RStudio IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
x = (3*4)+5
print (x)

17

This will convert 200 minutes to hours by diving by 60

In [6]:
y = (200/60)
print (y)

3.3333333333333335

## Author
Tumainiely R. K